<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- add an Azure Artifacts feed -->
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <!--<add key="Local package" value="C:\Repositories\Projects\Clients\ves\src\ApiClients\Packages" />-->
    <add key="Local package" value="./src/ApiClients/Packages" />
    <add key="Eduka-Packages" value="https://pkgs.dev.azure.com/edukasol/Web-apps/_packaging/Eduka-Packages/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>